# Sphinx-built site images: NOT LFS, but protect from line ending issues
docs/_images/*.gif -filter -diff -merge binary
*.gif !text !filter !merge !diff
*.png !text !filter !merge !diff
*.jpg !text !filter !merge !diff
docs/images/* !text !filter !merge !diff
